@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" style="margin-bottom: 64px;">
    <h1 class="display-4">期末作業</h1>
    <p>資工三 李易 111010512</p>
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">歡迎來到此頁</h4>
        <p>上方工作列可分別導向至<a href="/Login" class="alert-link">帳號管理</a>、<a href="/Album" class="alert-link">相簿管理</a>和<a href="/Posts" class="alert-link">最新公告</a>，不同頁面均包含 SQL 四大語法。</p>
        <hr>
        <p class="mb-0">詳細功能介紹將在報告當天於現場說明</p>
    </div>
</div>
