@page
@model WebApplication1.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<style>
    .w3-modal {
        padding-top: 50px;
    }
</style>

<div class="w3-container">
<pre>
帳號: leeyi
密碼: 123456
</pre>

    <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-green w3-large">Login</button>

    <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

            <div class="w3-center">
                <br>
                <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
                <img src="https://www.w3schools.com/w3css/img_avatar4.png" alt="Avatar" style="width:30%" class="w3-circle w3-margin-top">
            </div>

            <form class="w3-container" method="post">
                <div class="w3-section">
                    <label><b>Username</b></label>
                    <input asp-for="user_id" class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Username" required>
                    <label><b>Password</b></label>
                    <input asp-for="user_password" class="w3-input w3-border" type="password" placeholder="Enter Password" required>
                    <button asp-page-handler="Login" class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Login</button>
                    <input class="w3-check w3-margin-top" type="checkbox" checked="checked"> Remember me
                </div>
            </form>

            <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
                <span class="w3-right w3-padding w3-hide-small">Forgot <a href="#">password?</a></span>
            </div>

        </div>
    </div>
</div>
