@page
@model WebApplication1.Pages.Login2Model
@{
    ViewData["Title"] = "Login";
}

<style>
    .input {
        display: inline-block;
        width: 80px;
    }

    .error {
        color: red;
    }

    button {
        width: 80px;
    }
</style>
<script>
    function checkInput() {
        var user_id = document.getElementById("user_id").value;
        var user_password = document.getElementById("user_password").value;
        if (user_id == "" || user_password == "") {
            alert("id or password could not be empty");
            return false;
        }
        else return true;
    }
</script>

<pre>
帳號: leeyi
密碼: 123456
</pre>

<form method="post">
    <div>
        <span class="input">User ID:</span>
        <input asp-for="user_id" type="text" />
        <span class="error" asp-validation-for="user_id"></span>
    </div>

    <div style="margin-top:10px;">
        <span class="input">Password:</span>
        <input asp-for="user_password" type="password" />
        <span class="error" asp-validation-for="user_password"></span>
    </div>

    <button style="margin-top:10px;" asp-page-handler="Login" onclick="if (!checkInput()) return false;">Login</button>
</form>

<div>@Model.message</div>
