@page
@model WebApplication1.Pages.PostModel
@{
}

<h1>Post</h1>

<p>
    Use this page to detail your site's blog posts.
</p>

<hr />

<div class="form-floating">
    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
    <label for="floatingTextarea2">Comments</label>
</div>

<div class="border mt-4 card shadow-sm">
    <div class="p-3 card-body">
        This page sucks!

        <div class="float-end">
            From LextYi
        </div>
    </div>
</div>

<div class="border mt-4 card shadow-sm">
    <div class="p-3 card-body">
        I agree.

        <div class="float-end">
            From LextYi
        </div>
    </div>
</div>
