@page
@model WebApplication1.Pages.SQLiteModel
@{
}

<form class="form-floating" method="post" asp-page-handler="Command">
    <textarea asp-for="command" id="command" class="form-control" placeholder="Leave a command here" id="floatingTextarea2" style="height: 100px"></textarea>
    <label for="floatingTextarea2">Command</label>
</form>

<pre id="view" style="margin-bottom: 64px;">

</pre>

@section Scripts {
    <script type="text/javascript" src="~/js/sqlite.js"></script>
}
