@page
@model WebApplication1.Pages.UserAddModel
@{
}

<form method="post">
    <div>
        <label style="width: 80px;">Id: </label>
        <input asp-for="user_id" />
        <span asp-validation-for="user_id" style="color:red;"></span>
    </div>
    <div>
        <label style="width: 80px;">Password: </label>
        <input asp-for="user_password" />
        <span asp-validation-for="user_password" style="color:red;"></span>
    </div>
    <div>
        <label style="width: 80px;">Name: </label>
        <input asp-for="user_name" />
    </div>
    <div>
        <label style="width: 80px;">Age: </label>
        <input asp-for="user_age" />
    </div>
    <div>
        <label style="width: 80px;">Sex: </label>
        <input type="radio" asp-for="user_sex" value="1" checked>
        <label for="sex1">Male</label>
        <input type="radio" asp-for="user_sex" value="0">
        <label for="sex2">Female</label>
        @*<input asp-for="user_sex" />*@
    </div>
    <div>
        <button asp-page-handler="Add">Add</button>
    </div>
    <div>@Model.message</div>
</form>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}
